.about-text-container {
  height: 400vh;
  padding-block: 4rem;
  margin-top: -100vh;
}

.about-us {
  background-color: var(--neutral-white);
  box-shadow: 0 0 0 100vmax var(--neutral-white);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
#text-content {
  font-size: 6rem;
  text-align: center;
  font-family: var(--primary-font);
  width: 1200px;
}

.text-wrapper {
  min-height: 100vh;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.spacer {
  margin: 65vh;
}
