.footer-container {
  background-color: var(--neutral-black);
  padding: 1.2rem;
  color: #fff;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  font-family: var(--secondary-font);
}

.footer-text {
  display: flex;

  flex-direction: column;
  max-width: 300px;
  font-size: 16px; /* Adjust as needed */
  line-height: 1.6; /* Adjust as needed */
}

.footer-text h3 {
  font-size: 2rem; /* Adjust as needed */
}
