.reviews-wrapper {
  overflow-x: hidden;
  font-family: var(--primary-font);

  position: relative;
  height: 90vh;
}

.reviews-container {
  display: flex;

  width: 400vw;
  position: relative;
}
.review-name {
  font-size: 2.5rem;
}
.review-text {
  font-size: 2rem;
  width: 50rem;
  line-height: 1.2em;
}

.review-block {
  padding: 3em 2em;
  border-inline: 1px solid rgba(0, 0, 0, 0.466);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
